.Profile{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 452px;
    padding-left: 239px;
    padding-right: 239px;
    background-color: rgba(71, 49, 211, 1);
    padding-top: 100px;
    padding-bottom:100px ;
}

.Profile h1{
    margin: 0;
    width: 128px;
    height: 58px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0.01em;
    color:rgba(203, 242, 129, 1)
}

.profile-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 290.68px;
}

.basic-info{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 290.68px;
    color: white;
}

.info{
    display: flex;
    flex-direction: column;
}

.profile-img{
    width: 30%;
    height: 290.68px;
    border-radius: 10px;
}

.about-box{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 290.68px;
    color: white;

}

.about-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 290.68px;
    color:white;
}